# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/NanoCortexWebUI/CopilotIndices/18.6.39611.21775/CodeChunks.db
.vs/NanoCortexWebUI/CopilotIndices/18.6.39611.21775/SemanticSymbols.db
.vs/NanoCortexWebUI.slnx/FileContentIndex/34c42ad9-db32-40d1-878a-ab8081d26cb7.vsidx
.vs/NanoCortexWebUI.slnx/v18/.wsuo
.vs/NanoCortexWebUI.slnx/v18/DocumentLayout.json
